In [2]:
import zoo
zoo.hours()

'open 9-5 daily'

In [3]:
import zoo as menagerie
menagerie.hours()

'open 9-5 daily'

In [ ]:
import sqlite3 as db
from sqlite3.ext.declarative import declarative_base

Base = declarative_base()
 

# CREATE THE TABLE MODEL TO USE IT FOR QUERYING
class Books(Base):

   __tablename__ = 'Books'

   Title = db.Column(db.String(50), primary_key=True)
   


# PREPARING SQLALCHEMY QUERY
with engine.connect() as conn:
   result = conn.execute(
       db.select([Books.Title])
       )

# VIEW THE COLUMN NAMES
print(result.keys())